<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.khoroch"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Needed for Flutter hot reload/devtools in debug -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true" />
</manifest>
